@import '../../assets/constants.scss';
.myPhoto{
    padding: 102px 59px 0 58px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width:1333px) {
        padding: 102px 0 0 0;
    }
    button{
        flex:0 1 50px;
        width: 200px;
        max-height: 50px;
        margin-bottom: 50px;
        @media (max-width:684px) {
            margin-top: 40px;
        }
        @media (max-width:425px) {
            margin-top: 60px;
        }
    }
    
    .pagination{
        flex: 0 1 60px;
        display: flex;
        max-width: 300px;
        position: absolute;
        bottom: 0;
        left: 45%;
        background-color: $main-input-color;
        justify-content: center;
        border-radius: 16px;
        margin-bottom: 20px;
        padding:10px 15px;
        .pageElement{
            margin:0 10px;
            font-family: $main-font;
            cursor: pointer;
            color:$main-gray;
            transition-duration: .3s;
            &:hover{
                color:#fff;
                transition-duration: .3s;
            }
            &.activePage{
                color: #fff;
            }
        }
    }
}