@import '../../../assets/constants.scss';

.MyButton {
    background-color: $main-blue;
    font-family: $main-font;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: white;
    padding: 15px 0;
    justify-content: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition-duration: .3s;
    &:hover{
        background-color: $main-blue-hover;
        transition-duration: .3s;
    }
    &:disabled{
        background-color:$dark-blue;
        cursor:auto;
    }
}