@import '../../../assets/constants.scss';
.showPassword {
    flex: 0 1 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    .imgWrapper {
        position: absolute;
        right: 10px;
        top: 44px;

        &::after {
            content: '';
            position: absolute;
            width: 3px;
            height: 30px;
            bottom: 4px;
            right: 15px;
            background-color: white;
            transform: rotate(-45deg);
            opacity: 1;
            transition-duration: .3s;
            pointer-events: none;
        }
    }

    img {
        filter: invert(100%);
        width: 32px;
        cursor: pointer;
    }

    input {
        padding-right: 50px;
    }
}
.showPassword input {
    display: block;
    flex: 0 1 100%;
    margin-top: 32px;
    height: 56px;
    background-color: $main-input-color;
    border-radius: 8px 8px 0px 0px;
    outline: none;
    border: none;
    font-family: $main-font;
    font-size: 16px;
    color: white;
    padding-left: 15px;

    &:focus {
        border-bottom: 3px solid $main-blue;
    }
}
.error{
    font-family: $main-font;
    color:$main-error;
    font-size: 16px;
    margin: 3px 0 0 3px;
}