@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$main-body-color:#1D232A;
$main-input-color:#2C343A;
$main-blue:#0480DC;
$main-font:'Open Sans', sans-serif;
$main-blue-hover:#0063AC;
$main-error:#F83636;
$dark-blue:#004B83;
$main-gray:#95999C;
$second-gray:#D4D4D4;
$main-toolbar:#15191C;